<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corrector Ortográfico</title>
    <link rel="shortcut icon" href="static/img/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="contacto">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Agudas, graves, esdrújulas y sobresdrújulas</h1>
            <h2>Con una página web potente</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Reglas de ortográfia</h2>
            
            </br>

        <div class="general">
            <div class="contenedor sobre-nosotros-dos">
                <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Agudas, graves, esdrújulas y sobresdrújulas</h3>
                    <p>Importante es destacar que todas las palabras en castellano llevan acento.
                    El acento es la mayor intensidad de la voz para destacar una sílaba respecto a las demás.
                    Algunas palabras llevan un tilde identificando el acento ortográfico.
                    Todas las palabras llevan acento pero no todas llevan tilde.
                    Existen reglas para determinar en qué sílaba va el acento ortográfico (tilde).
                    Los cuatro tipos de palabras que determinan la acentuación son:
                    Agudas
                    Graves
                    Esdrújulas
                    Sobresdrújulas
                    </p>
                    <h3><span>2</span>Palabras agudas</h3>
                    <p>Las palabras agudas son las que llevan acento (la intensidad de la voz) en la última sílaba.
                        Importante destacar que no todas las palabras agudas llevan acento ortográfico (tilde).</p>
                    <h3><span>3</span>Palabras graves (llanas)</h3>
                    <p>Las palabras graves (o palabras llanas) son la que llevan la intensidad de la voz en la penúltima sílaba.
                    Cabe recalcar que no todas la palabras graves llevan acento ortográfico (tilde).
                    Las palabras graves NO llevan tilde si terminan en VOCAL o en N o S:</p>
                    <h3><span>4</span>Palabras esdrújulas</h3> 
                    <p>Las palabras esdrújulas son las que llevan la intensidad de la voz en la antepenúltima sílaba.
                    Importantísimo destacar que en este caso todas las palabras se acentúan con el acento ortográfico (tilde) siempre.</p>
                </div>
            </div>
        </div>
        </section>

        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Otras reglas de ortografía que quizás te interesen  </h2>
                
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Palabras terminadas en ción</h3>
                        <h3><a href="cion">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Uso de la B y V</h3>
                        <h3><a href="byv">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Reglas de la Z, C y S </h3>
                        <h3><a href="zcs">Leer mas</a></h3>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <h2 class="titulo-final">&copy; Mendoza Futura | La Dormida - Santa Rosa</h2>
    </footer>
</body>

</html>