<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corrector Ortográfico</title>
    <link rel="shortcut icon" href="static/img/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="contacto">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Palabras terminadas en ción, sión y xión</h1>
            <h2>Con una página web potente</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Reglas de ortográfia</h2>
            <div class="abs-center">
                <h3 class="titulo-2">La palabra: {{ palabra }} está mal escrita sigue leyendo para ver cómo se escribe correctamente </h3>
            </div>
            </br>
            </br>
        <div class="general">
            <div class="contenedor sobre-nosotros">
                <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">

                    <h3><span>1</span>Ortografía de las palabras terminadas en ción, en sión y xión</h3>
                    <p>
                    Para comprender las reglas de ortografía que usamos con las palabras terminadas en “–ción,” “-sión” y “-xión”, 
                    primero veamos qué es un sustantivo y un adjetivo. El sustantivo es una clase de palabra que designa a la 
                    persona, animal o cosa. Otra manera de llamar al sustantivo es nombre. Por su parte, el adjetivo, en particular el 
                    calificativo, nos dice cómo es la persona o cosa designada por el sustantivo, es decir, sus cualidades.

                    Existen otros adjetivos que indican a quién o quiénes pertenecen los sustantivos (adjetivos posesivos), o su 
                    situación de cercanía o lejanía con respecto a quien habla (adjetivos demostrativos, este y aquel, por ejemplo), 
                    sin embargo, aquí nos remitiremos solo a los calificativos, por ser donde se generan gran cantidad de errores ortográficos.

                    Las reglas ortográficas que a continuación veremos, se remiten a estos adjetivos. La regla para el uso de “-sión”, 
                    “-ción” o “-xión” es la siguiente: Los adjetivos que llevan s (–so, -sor, -sorio, -sivo) en su terminación dan 
                    sustantivos terminados en -sión. Los adjetivos que llevan t o d (to, -tor, -torio, -tivo, do, dor) en su terminación 
                    dan sustantivos terminados en -ción. Los adjetivos que llevan x en su terminación dan sustantivos terminados en -xión.
                    </p>
                    <h4>Por ejemplo:</h4> 
                    <p>
                    Por ejemplo, con el adjetivo “exclusivo” sabemos que el sustantivo se escribirá con “s”: “exclusión”; del adjetivo “perdedor” tendremos el sustantivo “perdición”.
                    </p>

                    <h3><span>2</span>Reglas ortogràficas para las terminaciones: ciòn y siòn.</h3>
                    <p>
                    Estas son las que rigen las terminaciones "sión" con "s" y "ción" con "c". En términos generales, lo que significa que puede haber excepciones, se escriben con "ción" con "c".
                    </br></br>
                    Las palabras que derivan de sustantivos o adjetivos, relacionados con ellas en significado, y que terminan en:
                    </br>
                    dor: salvador - salvación.
                    </br>
                    to: invento - invención.
                    </br>
                    tor: locutor - locución.
                    </br>
                    torio: auditorio - audición.
                    </br>
                    do: recordado - recordación.
                    </br>
                    Las palabras que derivan de algunos verbos terminados en "ar".
                    </br>
                    aclamar - aclamación.
                    </br>
                    actuar - actuación.

                    </p>

                    <h3><span>3</span>Se escriben con "sión" con "s" las palabras que derivan de otras terminadas en:</h3>
                    <p>
                    so: converso - conversión. Intenso - intensión - intensidad.
                    </br>
                    sor: revisor - revisión.
                    </br>
                    sar: confesar - confesión.
                    </br>
                    sivo: expresivo - expresión.
                    </br>
                    sorio: irrisorio - irrisión.
                    </br>
                    sible: represible – represión. 

                    </p>

                </div>
            </div>
        </div>
        </section>

        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Otras reglas de ortografía que quizás te interesen  </h2>
                
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Uso de las B</h3>
                        <h3><a href="byv">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Reglas de la Z, C y S</h3>
                        <h3><a href="zcs">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Agudas, graves, esdrújulas </h3>
                        <h3><a href="ages">Leer mas</a></h3>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer>
        <h2 class="titulo-final">&copy; Mendoza Futura | La Dormida - Santa Rosa</h2>
    </footer>
</body>

</html>