<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corrector Ortográfico</title>
    <link rel="shortcut icon" href="static/img/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
        </nav>
        <section class="textos-header">
            <h1>¿Quienes somos?</h1>
            <h2>¿Que buscamos lograr con nuestra web?</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">

            <h2 class="titulo">Reglas de ortográfia</h2>
            
            <div class="contenedor sobre-nosotros">
                <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Objetivo General</h3>
                    <p>
                        Aportar al distrito de la Dormida una herramienta que colabore en la escritura correcta 
                        de las palabras. Más aún a la Escuela N°4-199 María Luisa Degni, a través de una Página 
                        Web con un Corrector Ortográfico.</p>
                    <h3><span>2</span>Objetivo Específico</h3>
                    <p>
                        Desarrollar mediante la programación en Python un Corrector Ortográfico 
                        concretamente con conocimiento tecnológico) para colaborar en la 
                        minimización de la problemática manifestada. </br>
                        Fomentar las capacidades de habilidades blandas como trabajo en equipo, 
                        comprensión, responsabilidad, pensamiento crítico, empatía y espíritu 
                        emprendedor</p>
                        <h3><span>2</span>Los mejores productos</h3>
                    <p>TÍTULO: CORRECTOR ORTOGRÁFICO
                        TEMA A ABORDAR: ESCRIBIR CORRECTAMENTE LAS PALABRAS
                        SITUACIÓN PROBLEMA: surgieron varios temas, contaminación del agua para consumo, 
                        embarazo en adolescentes, calculadora, búsqueda de palabras y corrección de palabras. 
                        Es por ello, que teniendo en cuenta la problemática de la comunidad donde están 
                        insertos los estudiantes es que se optó por la opción de la corrección de palabras.
                        Entre todos los estudiantes en conjunto con los facilitadores de habilidades duras y 
                        blandas, se generaron diferentes alternativas para poder dar solución ante la duda de 
                        cómo se escriben ciertas palabras.</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="static/img/alumnosUno.png" alt="">
                        <div class="hover-galeria">
                            <img src="static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/alumnosDos.png" alt="">
                        <div class="hover-galeria">
                            <img src="static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/alumnosTres.png" alt="">
                        <div class="hover-galeria">
                            <img src="static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/alumnosCuatro.png" alt="">
                        <div class="hover-galeria">
                            <img src="static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/alumnosCinco.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/logo.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/alumnosSeis.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="static/img/alumnosSiete.jpeg" alt="">
                        <div class="hover-galeria">
                            <img src="static/img/icono1.png" alt="">
                            <p>Nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros Objetivos </h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="static/img/ilustracion1.svg" alt="">
                        <h3>¿Que buscamos?</h3>
                        <p>Que nuestra web sea lo más informativa posible y ayude a los alumnos a prender de una manera más sencilla </p>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/ilustracion4.svg" alt="">
                        <h3>¿Que buscamos?</h3>
                        <p>Queremos que sea fácil de entender y agradable a la vista </p>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/ilustracion3.svg" alt="">
                        <h3>¿Que buscamos?</h3>
                        <p>Buscamos hacer una web escalable para que pueda seguir creciendo en un futuro y mejorando</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://padlet.com/embed/kbymetmtfincait5" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:608px;display:block;padding:0;margin:0"></iframe></p><div style="padding:8px;text-align:right;margin:0;"><a href="https://padlet.com?ref=embed" style="padding:0;margin:0;border:none;display:block;line-height:1;height:16px" target="_blank"><img src="https://padlet.net/embeds/made_with_padlet.png" width="86" height="16" style="padding:0;margin:0;background:none;border:none;display:inline;box-shadow:none" alt="Hecho con Padlet"></a></div></div>
        
    <footer>
        <h2 class="titulo-final">&copy; Mendoza Futura | La Dormida - Santa Rosa</h2>
    </footer>
</body>

</html>
<a href="/">Inicio</a>