<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corrector Ortográfico</title>
    <link rel="shortcut icon" href="static/img/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="contacto">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Uso de las B</h1>
            <h2>Con una página web potente</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Reglas de ortográfia</h2>
            <div class="abs-center">
                <h3 class="titulo-2">La palabra: {{ palabra }} está mal escrita sigue leyendo para ver cómo se escribe correctamente </h3>
            </div>
            </br>
            </br>
        <div class="general">
            <div class="contenedor sobre-nosotros">
                <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3>El uso de la b y la v en castellano sigue normas muy semejantes a las vistas para la lengua gallega.</h3>
                    <h3><span>1</span>Uso de la B</h3>
                    <p>
                    •	Los verbos terminados en -bir y las formas que de ellos se derivan.
                    </br>
                    Son excepciones de esta regla los verbos vivir y servir que se escriben con v.
                    </br>
                    •	Se escriben con b todos los verbos terminados en -buír y las formas que de ellos se derivan.
                    </br>
                    •	Los verbos beber, caber, debersaber, haber, sorber, y todas las formas que de ellos se derivan.
                    </br>
                    •	Las terminaciones del pretérito imperfecto o copretérito de los verbos de la primera conjugación: -ba, -bas, -ba, -bamos, -bais, -ban. Ejemplos: andaban, bailábamos, caminabais…
                    </br>
                    •	Las palabras que comienzan con prefijos bi- y -bis. Ejemplos: bicicleta, bienio, bifocal, bilateral, bilingüismo, bimembre, bisabuelo, bisnieto ...
                    </br>
                    •	Las palabras terminadas en -bundo, -bunda y –bilidad. Ejemplos: furibunda, meditabunda, moribundo, vagabundo, amabilidad, sensibilidad, contabilidad…
                    </br>
                    •	Las palabras comenzadas por bu-, bur- y bus-. Ejemplos: bucal, bufanda, bullir, burbuja, burla, buscar, busto ...
                    </br>
                    •	Se escribe b cuando este sonido va seguido de cualquier otra consonante.
                    
                    <h4>Por ejemplo:</h4> 
                    <p> abstracto, blasfemia, bloque, blusa, blanco, breve, brisa, cable, mueble, obstáculo, obstruir, objeto, público ...
                    </p>
                    <p>
                    •	Después de la consonante m: ambos, ambiente, imbécil, también...
                    </p>

                    <h3><span>2</span>Uso de la V</h3>
                    <p>
                    •	Los verbos acabados en -servar e -versar. Ejemplos: conservar, conversar, malversar, reservar, observar...
                    </br>
                    •	Las formas de los verbos estar, andar y tener que llevan este sonido. Ejemplos: tuvo, tuviera, tuvimos, tuviese, estuvo, estuviera, estuvimos, estuviste, anduvo... Como excepción recuerde que el copretérito del verbo estar, como todos los de la primera conjugación, se escribe con b: estaba, estábamos, estaban...
                    </br>
                    •	Las palabras acabadas en -ava, -avo, -eve, -evo, -eva, -ivo e -iva. Ejemplos: decisivo, , longevo, nueva, conflictiva... Constituye una excepción la palabra sílaba.
                    </br>
                    •	Las palabras acabadas en –ívoro e –ívora. 
                    </p>
                    <h4>Por ejemplo:</h4> 
                    <p>
                    Carnívora, granívora, herbívoro, insectívoro… Es una excepción a esta regla la palabra víbora.
                    </p>

                </div>
            </div>
        </div>
        </section>

        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Otras reglas de ortografía que quizás te interesen  </h2>
                
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Palabras terminadas en ción</h3>
                        <h3><a href="cion">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Reglas de la Z, C y S</h3>
                        <h3><a href="zcs">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Agudas, graves, esdrújulas </h3>
                        <h3><a href="ages">Leer mas</a></h3>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer>
        
        <h2 class="titulo-final">&copy; Mendoza Futura | La Dormida - Santa Rosa</h2>
    </footer>
</body>

</html>