<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corrector Ortográfico</title>
    <link rel="shortcut icon" href="static/img/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="contacto">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Reglas de la Y e I</h1>
            <h2>Con una página web potente</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Reglas de ortográfia</h2>
        <div class="general">
            <div class="contenedor sobre-nosotros">
                <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Reglas de la Y e I</h3>
                    <p>
                    Las palabras que comienzan con la I y están seguidas de una consonante, se
                    deben escribir con I. Por ejemplo: invasión.
                    Las palabras que comienzan con Y y están seguidas de una vocal se escriben
                    con Y. Por ejemplo: yate, yuyo.
                    Algunos tiempos y personas de verbos infinitivos terminados en -uir se
                    conjugan con Y.</p>
                    
                    <h4>Por ejemplo:</h4>
                    <p>Huir/huyeron, concluir/concluyó, influir, influyan.
                    </p>

                </div>
            </div>
        </div>
        </section>

        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Otras reglas de ortografía que quizás te interesen  </h2>
                
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Palabras terminadas en ción</h3>
                        <h3><a href="cion">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Uso de la B y V</h3>
                        <h3><a href="byv">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Agudas, graves, esdrújulas </h3>
                        <h3><a href="ages">Leer mas</a></h3>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer>
        
        <h2 class="titulo-final">&copy; Mendoza Futura | La Dormida - Santa Rosa</h2>
    </footer>
</body>
</html>