<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Corrector Ortográfico</title>
    <link rel="shortcut icon" href="static/img/logo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="contacto">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Reglas de la Z, C y S</h1>
            <h2>Con una página web potente</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Reglas de ortográfia</h2>
            
        <div class="general">
            <div class="contenedor sobre-nosotros">
                <img src="img/ilustracion2.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Reglas de la Z, C y S</h3>
                    <p>
                    Cuando la Z está entre vocales débiles, se transforma en C. Esto suele pasar en varios plurales de palabras que terminan en Z. Por ejemplo: pez/peces, lápiz/lápices, tamiz/tamices. 
                    Los adjetivos terminados en -osa u -oso se escriben siempre con S. </p>
                    
                    <h4>Por ejemplo:</h4>
                    <p>Trabajoso, amorosa, cenagoso, fibrosa, meloso.
                    </p>

                    <h3><span>2</span>Reglas de la H</h3>
                    <p>
                    Si un verbo se escribe con H en su infinitivo, sus conjugaciones también la llevarán. Esto se debe a que los verbos conservan su raíz lexical, aunque su declinación varíe al conjugarse. Por ejemplo: cohibir, hacer, ahuecar. 
                    Las palabras que empiezan por los diptongos ia, ie, ua, ue o ui, se escriben con H. 

                    <h4>Por ejemplo:</h4> 
                    <p>Hiato, hiena, huaca, huevo o huida.
                    </p>

                </div>
            </div>
        </div>
        </section>

        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Otras reglas de ortografía que quizás te interesen  </h2>
                
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Palabras terminadas en ción</h3>
                        <h3><a href="cion">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Uso de la B y V</h3>
                        <h3><a href="byv">Leer mas</a></h3>
                    </div>
                    <div class="servicio-ind">
                        <img src="static/img/logo.jpeg" alt="">
                        <h3>Agudas, graves, esdrújulas </h3>
                        <h3><a href="ages">Leer mas</a></h3>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer>
        
        <h2 class="titulo-final">&copy; Mendoza Futura | La Dormida - Santa Rosa</h2>
    </footer>
</body>
</html>